body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(0deg, #ffbe96 0%, #eb899e 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
  min-width: 866px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 100;
  font-size: 3em;
  color: #f0451a;
  display: inline;
  vertical-align: middle;
  white-space: nowrap;
}

h2 {
  margin: 1em 0 0;
}

.pizza-img {
  max-width: 30%;
  display: inline;
  margin: -2em;
}

main {
  color: #6b584d;
}

fieldset {
  border: 0;
  margin: 1em 0 0;
  padding: 0;
}

legend {
  font-weight: 900;
}

.toppings fieldset {
  display: inline-block;
  width: 24%;
  vertical-align: text-top;
}

.toppings fieldset label {
  font-size: 0.9em;
}

.total-price {
  margin-top: 0.5em;
  font-weight: 100;
  font-size: 2em;
  color: #f0451a;
}
input[type='number'],
input[type='text'],
input[type='email'] {
  color: #6b584d;
  background-color: #fbeb9a;
  border: 1px solid #eb899e;
}

input[type='radio'] {
  background-color: #fbeb9a;
  background-image: -webkit-linear-gradient(
      0deg,
      transparent 20%,
      hsla(0, 0%, 100%, 0.7),
      transparent 80%
    ),
    -webkit-linear-gradient(90deg, transparent 20%, hsla(0, 0%, 100%, 0.7), transparent
          80%);
  border-radius: 10px;
  box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, 0.8),
    0 0 0 1px hsla(0, 0%, 0%, 0.6), 0 2px 3px hsla(0, 0%, 0%, 0.6),
    0 4px 3px hsla(0, 0%, 0%, 0.4), 0 6px 6px hsla(0, 0%, 0%, 0.2),
    0 10px 6px hsla(0, 0%, 0%, 0.2);
  cursor: pointer;
  display: inline-block;
  height: 15px;
  position: relative;
  width: 15px;
  -webkit-appearance: none;
}
input[type='radio']:after {
  background-color: #6b584d;
  border-radius: 25px;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.4),
    0 1px 1px hsla(0, 0%, 100%, 0.8);
  content: '';
  display: block;
  height: 7px;
  left: 4px;
  position: relative;
  top: 4px;
  width: 7px;
}
input[type='radio']:checked:after {
  background-color: #f0451a;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.4),
    inset 0 2px 2px hsla(0, 0%, 100%, 0.4), 0 1px 1px hsla(0, 0%, 100%, 0.8),
    0 0 2px 2px hsla(0, 70%, 70%, 0.4);
}

input[type='submit'] {
  background-color: #f0451a;
  font-family: 'Lobster', cursive;
  font-weight: 100;
  font-size: 3em;
  color: white;
  border-radius: 15px;
  border: 1px solid white;
  margin: 15px 0 0 35%;
  padding: 1em;
}

input[type='submit'] {
  background-color: #f0451a;
  font-family: 'Lobster', cursive;
  font-weight: 100;
  font-size: 3em;
  color: white;
  border-radius: 15px;
  border: 1px solid white;
  margin: 15px 0 0 35%;
  padding: 0 1em;
}

th {
  font-weight: 200;
  text-align: left;
}

.messages {
  margin-top: 1em;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  background-color: azure;
  border-radius: 10px;
  border: 1px solid burlywood;
}

.error {
  color: red;
}
.succes {
  color: green;
}

a:link {
  text-decoration: none;
}
